.page__header {
  margin-bottom: 54px;

  @include media-tablet {
    margin-bottom: 44px;
  }

  @include media-mobile {
    margin-bottom: 30px;
  }
}

.page__main {
  margin-bottom: 58px;

  @include media-tablet {
    margin-bottom: 46px;
  }

  @include media-mobile {
    margin-bottom: 32px;
  }
}
