$red: #d24a43;
$gray: #dddddd;
$text-gray: #555555;
$lightgray: #eeeeee;
$white: #ffffff;

$font-open-sans: "Open Sans", "Arial", sans-serif;

$desktop-width: 1200px;
$desktop-max-width: 1600px;
$tablet-width: 768px;
$tablet-max-width: 1199px;
$mobile-width: 320px;
$mobile-max-width: 767px;
